html {
  background-color: white;
  font-size: medium;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
}

div {
  font-size: 26px;
  color: blue;
  margin-left: 4px;
  margin-top: 4px;
  padding: 4px;
}
